/*#region Base */
html,body {
    /* height: 100%; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cascadia Code", "HarmonyOS Sans", "Microsoft YaHei UI", Consolas, 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: #1e1e1e;
    color: #fff;
}



.wrap {
    word-break : break-all;
    overflow: hidden;
}


.font-cascadia {
    font-family: "Cascadia Code", "HarmonyOS Sans", "Microsoft YaHei UI", Consolas, 'Courier New', monospace;
}

